@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  font-family: "Lato", sans-serif;
}
.contact-title{
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-weight: 700;
    color: #275f70;
}