@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  font-family: "Lato", sans-serif;
}
.contact-title{
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-weight: 700;
    color: #275f70;
}

.form-container{
  width: 500px !important;
  text-align: center;
  padding: 4rem;
}
a {
  text-decoration: none !important;
  color:  #ffffff !important;
}

.signout-btn {
  position: absolute;
  top: .5rem;
  right: 1rem;
  
}